@model MvcApplication2.Models.IndexPage
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@if (Model.Direcciones != null)
{
    <h3>@Model.Direcciones.Count</h3>
    <ul>
        @foreach (var item in Model.Direcciones)
        {
            <li>
                <span>@item.Street</span>
                <span>@item.Coordinates.X</span>
                <span>@item.Coordinates.Y</span>
                <span>@item.Date</span>
            </li>
        }
    </ul>
}
@if (Model.DireccionesQM != null)
{
    <ul>
        @foreach (var item in Model.DireccionesQM)
        {

            <li>
                <span>@item.Street</span>
                <span>@item.Coordinates.X</span>
                <span>@item.Coordinates.Y</span>
                <span>@item.Date</span>
            </li>
        }
    </ul>
}
@if (Model.DireccionesQM2 != null)
{
    <ul>
        @foreach (var item in Model.DireccionesQM2)
        {
                <li>
                    <span>@item.Calle</span>
                    <span>@item.Referencia.XCoordinate</span>
                    <span>@item.Referencia.YCoordinate</span>
                    <span>@item.Fecha</span>
                </li>
        }
    </ul>
}
@if (Model.DireccionesMongo != null)
{
    <h3>@Model.DireccionesMongo.Count</h3>
    <ul>
        @foreach (var item in Model.DireccionesMongo)
        {
            <li>
                <span>@item.Street</span>
                <span>@item.Coordinates.Coordinates[0]</span>
                <span>@item.Coordinates.Coordinates[1]</span>
                <span>@item.Date</span>
            </li>
        }
    </ul>
}
