@model MvcApplication2.Models.IndexPage
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    @if (Model.Direcciones != null)
    {
        foreach (var item in Model.Direcciones)
        {
            <li>
                <span>@item.Street</span>
                <span>@item.Coordinates.X</span>
                <span>@item.Coordinates.Y</span>
                <span>@item.Date</span>
            </li>
        }
    }
    
    @if (Model.DireccionesQM != null)
    {
        foreach (var item in Model.DireccionesQM)
        {
            <li>
                <span>@item.Street</span>
                <span>@item.Coordinates.X</span>
                <span>@item.Coordinates.Y</span>
                <span>@item.Date</span>
            </li>
        }
    }
    @if (Model.DireccionesQM2 != null)
    {
        foreach (var item in Model.DireccionesQM2)
        {
            <li>
                <span>@item.Calle</span>
                <span>@item.Referencia.XCoordinate</span>
                <span>@item.Referencia.YCoordinate</span>
                <span>@item.Fecha</span>
            </li>
        }
    }
    @if (Model.DireccionesMongo != null)
    {
        foreach (var item in Model.DireccionesMongo)
        {
            <li>
                <span>@item.Street</span>
                <span>@item.Coordinates.X</span>
                <span>@item.Coordinates.Y</span>
                <span>@item.Date</span>
            </li>
        }
    }
</ul>
